
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints
data/
logs/
outputs/
runs/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.cover
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.codecov.yml
*.pylintrc
*.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pyright/
.pytest_cache/
.ipynb_checkpoints